<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册结果页面</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
        }
        h1 {
            color: #333;
        }
    </style>
</head>
<body>
    <h1>注册信息如下</h1>
    <p>用户名:{{name}}</p>
    <p>密码:********</p>
    <h1>{{name}},您已注册成功!</h1>
    <h5>返回<a href="/enter">登陆页面</a></h5>
</body>
</html>